@media (max-width: 600px) {
    .grid-item-content {
        flex-direction: row-reverse;
    }
    .grid-item-top-content {
        margin: 0;
        height: 100%;
        width: 30%;
        justify-content: center;
    }
    .grid-item-bottom-content {
        margin: 0;
        height: 100%;
        width: 40%;
    }
}