* {
    transition: all 0.1s ease;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    user-select: none;
}

.reload-container {
    z-index: 2;
    position: fixed;
    top: 1vh;
    right: 1vw;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease;
}

.reload {
    font-size: 2em !important;
    transition: all 0.1s ease;
}

.reload:hover {
    transform: scale(1.2);
}


.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100%;
    /* background-color: aqua; */
}

.colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49vw;
    margin-left: 1vw;
    height: 100vh;
/*     background-color: aqua;
 */}

.home{
    position: fixed;
    top: 1vh;
    left: 1vw;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease;
    font-size: 2em !important;
}

.home:hover{
    transform: scale(1.2);
}

.values{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 49vw;
    margin-right: 1vw;
    height: 100vh;
/*     background-color: #e60000;
 */}


.values-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49vw;
    height: 100vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

    /* border: 2px solid #000000;
    border-radius: 20px; */
} 

.value{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 9vh;
    border-radius: 10px;
    margin-bottom: 1vh;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color: #c0c0c0;
}

.value-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    transition: all 0.3s ease;  
}

.copy-icon {
    position: relative;
    justify-self: flex-end;

}

.suggestions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 49vw;
    height: 49vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

    /* border-radius: 20px;
    border: 2px solid #000000; */


}

.text{
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    height: 4vh;
    width: 49vw;
    margin-bottom: 1vh;
    text-align: center;
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(3, 1fr);
    gap: 1vh;
    height: 80%;
    width: 90%;
  }
  
  .grid-item:first-child {
    grid-column: 1 / span 3;
  }
  
  .grid-item {
    background-color: #c0c0c0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
 */
.shades{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5vh;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #f0f0f0;
    background-color: aliceblue;
}

.shade-4, .shade4{
    width: 40vw;
    height: 9vh;
}

.shade-3, .shade3{
    width: 41vw;
    height: 9vh;
}

.shade-2, .shade2{
    width: 42vw;
    height: 9vh;
}

.shade-1, .shade1{
    width: 43vw;
    height: 9vh;
}

.shade-0{
    width: 44vw;
    height: 10vh;
}

.hover {
    transition: all 0.3s ease;

}

.hover:hover{
    transform: scale(1.05);
}
