@media (max-width: 600px) {
    .value {
        text-transform: none;
    }
    .value-text {
        width: 100%;
        font-size: 5vw;
    }
    .copy-icon {
        width: 0;
        visibility: hidden;
    }
}